<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" asp-href-include="lib/bootstrap/dist/css/*.min.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>@ViewBag.Title</title>
</head>
<body class="panel panel-default">
    <div class="panel-heading">
    <h4>
        
        @ViewBag.Title
        <a class="btn btn-sm btn-primary pull-left" asp-action="List" asp-controller="Order">List Order</a>
        <a class="btn btn-sm btn-primary pull-right" asp-action="Logout" asp-controller="Account">Log Out</a>
       
         </h4>
    </div>
    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    <div class="panel-body">
        @RenderBody()
    </div>
</body>
</html>