@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    cuno2712<br />
    Da Nang<br />
    <abbr title="Phone">Phone:</abbr>
    Emy/eKxg+vmxYeoE9sww4A==
</address>

<address>
    <strong>Support:</strong> <a href="mailto:g0wsmfx7q/zG1F86MjRZaRBOjvNB5b8j/9HU5FWFLhs=">g0wsmfx7q/zG1F86MjRZaRBOjvNB5b8j/9HU5FWFLhs=</a><br />  
</address>
